################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SWE-small-projects.slnx/FileContentIndex/35dfe82a-6741-49c4-a256-28d9835192d1.vsidx
/.vs/SWE-small-projects.slnx/FileContentIndex/69e3b2e8-5220-47b9-b47d-45655c766ae5.vsidx
/.vs/SWE-small-projects.slnx/FileContentIndex/6d71c7f6-f945-409c-b226-67a1e8356fb1.vsidx
/.vs/SWE-small-projects.slnx/FileContentIndex/fc873304-d283-4b9d-916d-d3c33af1d39c.vsidx
/.vs/SWE-small-projects.slnx/FileContentIndex/1eeab8c0-90c1-40eb-b5a5-4b387e4de060.vsidx
/.vs/SWE-small-projects.slnx/FileContentIndex/59212cde-82e8-4be7-ba97-d63247da3f09.vsidx
/.vs/SWE-small-projects.slnx/FileContentIndex/cdf836c0-e86b-4c2b-97e3-e877cbb556ab.vsidx
